<div class="container">
  <h1>Paciente</h1>
  <!-- Añadir Detalle Historial -->
  <button class="btn btn-primary mb-3" (click)="toggleCreateForm()">Añadir Detalle Historial</button>

  <!-- Ver Tratamientos -->
  <!-- <button class="btn btn-primary mb-3" (click)="toggleTreatment()">Ver Tratamientos</button> -->

  <!-- Paciente Data Person -->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Datos Personales
        </div>
        <div class="card-body">
          <p><strong>Nombre:</strong> {{ patient?.name }}</p>
          <p><strong>Apellido:</strong> {{ patient?.lastName }}</p>
          <p><strong>CI:</strong> {{ patient?.ci }}</p>
          <p><strong>Sexo:</strong> {{ patient?.sexo === 'M' ? 'Masculino' : 'Femenino' }}</p>
          <p><strong>Número de Contacto:</strong> {{ patient?.contactNumber }}</p>
          <p><strong>Dirección:</strong> {{ patient?.address }}</p>
          <p><strong>Email:</strong> {{ patient?.user?.email }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Cargando Historial...</p>
  </div>

  <!-- Deleting detail -->
  <div *ngIf="isDeleting" class="full-screen-loading">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Eliminando detalle...</p>
  </div>

  <!-- Creando Detalle Historial Clinico -->
  <div *ngIf="isCreating" class="full-screen-loading">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Creando detalle...</p>
  </div>

  <!-- Table Patient Detail -->
  <div *ngIf="!isLoading" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Historial Clínico
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Título</th>
                <th>Fecha y Hora</th>
                <!-- <th>Tratamiento</th> -->
                <th>Notas</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of patientDetails">
                <td>{{ detail.title }}</td>
                <td>{{ detail.data_time }}</td>
                <!-- <td>{{ detail.tratamiento }}</td> -->
                <td>{{ detail.notes }}</td>
                <td>
                  <button class="btn btn-danger ml-2"
                    (click)="handleEliminarDetallePaciente(detail.id)">Eliminar</button>
                  <!-- Ver Tratamiento -->
                  <button class="btn btn-primary ml-2" (click)="handleVerTratamiento(detail)">Ver Tratamiento</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirmation Modal -->
  <div *ngIf="modalVisibility" class="modal-overlay">
    <div class="modal-content">
      <h2>Confirmación de Eliminación</h2>
      <p>{{ deleteConfirmationMessage }}</p>
      <div class="modal-buttons">
        <button class="btn btn-danger" (click)="confirmDelete()">Confirmar</button>
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancelar</button>
      </div>
    </div>
  </div>

  <!-- Modal for Creating -->
  <div *ngIf="showForm" class="modal-overlay">
    <div class="modal-content">
      <h2>{{ modalTitle }}</h2>
      <form (ngSubmit)="handleSubmit()">
        <!-- Título -->
        <div class="form-group">
          <label for="title">Título</label>
          <div class="input-group">
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="formData.title" required />
            <!-- <button type="button" class="btn btn-secondary"
              (click)="isListening ? stopListening() : startListening('title')">
              <mat-icon>{{ isListening && isListeningTitle ? 'mic_off' : 'mic' }}</mat-icon>
            </button> -->
          </div>
        </div>

        <!-- Notas -->
        <div class="form-group">
          <label for="notes">Notas</label>
          <div class="input-group">
            <textarea class="form-control" id="notes" name="notes" [(ngModel)]="formData.notes" required></textarea>
            <!-- <button type="button" class="btn btn-secondary"
              (click)="isListening ? stopListening() : startListening('notes')">
              <mat-icon>{{ isListening && !isListeningTitle ? 'mic_off' : 'mic' }}</mat-icon>
            </button> -->
          </div>
        </div>

        <!-- Botones de Envío y Cancelación -->
        <div class="modal-buttons">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary" (click)="toggleCreateForm()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

</div>
